.decks

.deck
  margin: 5px 0
  .button
    display: inline-block
    margin-right: 10px
    padding: 15px
    text-align: center

  a.button
    color: #000
    border: 1px solid #000
    width: 120px
    text-decoration: none

  .description
    display: inline-block
    text-transform: uppercase
