%h2
  What is Manatees?

.decks
  - @decks.each do |deck|
    .deck
      %a{ href: deck_review_path(deck),class: 'button review' }
        REVIEW ONLY
      %a{ href: deck_path(deck), class: 'button all-cards' }
        ALL CARDS
      .description
        = "#{deck.name} (#{deck.cards.for_review.count}/#{deck.cards.count})"
