- @cards.each_with_index do |card, index|
  .card{ class: ('hidden' unless index == 0), id: "card_#{index}" }
    .card-id.hidden
      = card.id
    .front
      %h1= card.front
    .flip
      FLIP THIS CARD
    .controls
      .right
        GOT IT
      .wrong
        MISSED IT
    .back.hidden
      %h3= card.back

.submit-panel.hidden
  %h1
    Submit Panel
  .temporary-results
  .num-right
    Right:
    .num
  .num-wrong
    Wrong:
    .num
  .submit
    Submit
